<!-- References to all sample projects -->
<Project>
  <Import Project="$([MSBuild]::GetPathOfFileAbove(directory.build.props))" Condition="'$(ImportLabsDirectoryBuildProps)' != 'true' and Exists('$([MSBuild]::GetPathOfFileAbove(directory.build.props))')" />

  <PropertyGroup>
    <DefineConstants>$(DefineConstants);LABS_ALL_SAMPLES</DefineConstants>
  </PropertyGroup>

  <ItemGroup>[TemplatedSampleProjectReferences]
  </ItemGroup>
</Project>