<!-- References to all sample projects -->
<Project Sdk="MSBuild.Sdk.Extras/3.0.23">
  <PropertyGroup>
    <DefineConstants>$(DefineConstants);LABS_ALL_SAMPLES</DefineConstants>
  </PropertyGroup>

  <ItemGroup>[TemplatedSampleProjectReferences]
  </ItemGroup>
</Project>